* {
  box-sizing: border-box;
}

body {
  margin: 0;

  /* BG image */
  background-image: url('./assets/designer.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;


  /* TODO: remove after content is added */
  min-height: 100vh;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}