NODE_ENV=production

PORT=8000

// logger settings
APP_ID=api
LOG_LEVEL=debug


REQUEST_LIMIT=100kb

DATABASE_URL="mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority"


STRIPE_PUBLISHABLE_KEY
STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET